@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --red:#D01C28;
  --gray:#2e2e2e;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
*{
  margin: 0;
  padding: 0;
}
.main-container{
  max-width: 1100px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
ul{
  display: flex;
  list-style: none;
  gap: 24px;
}
nav button{
  all:unset;
  padding: 6px 16px;
  background-color: var(--red);
  color: #FFFFFF;
  font-weight: 500px;
  height: 32px;
}
.hero{
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.hero-content h1{
  font-weight: 800;
  font-size: 100px;
  line-height: 94px;
}
.hero-content p{
  font-weight: 600;
  color: var(--gray);
}
.hero-btn{
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.shop-btn{
  background: var(--red);
  padding: 8px;
  color: white;
  border: none;
  font-size: 20px;
}
.category-btn{
  border: 1px solid gray;
  background: transparent;
  color: var(--gray);
  padding: 8px;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 13px;
}
.online{
  display: flex;
  gap: 30px;
}